<!-- Site Footer -->
<footer class="global-footer">
  <div class="wrapper">
    <div class="row mb">
      {% if linklists.footer.links.size > 0 %}
        <div class="col-xs-12 col-sm-3">
          <h3>Shop 1st Parents</h3>
          <ul role="navigation">
          {% for link in linklists.footer.links %}
            <li><a href="{{ link.url }}" title="{{ link.title }}"{% if link.active %} class="active"{% endif %}>{{ link.title }}</a></li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if linklists.information.links.size > 0 %}
        <div class="col-xs-12 col-sm-3">
          <h3>Information</h3>
          <ul role="navigation">
          {% for link in linklists.information.links %}
            <li><a href="{{ link.url }}" title="{{ link.title }}"{% if link.active %} class="active"{% endif %}>{{ link.title }}</a></li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}

      <div class="col-xs-12 col-sm-4 col-sm-offset-2">
        <h3>Get the Latest</h3>
        <p>Sign up for our weekly newsletter, who knows, you might get something special.</p>
        {% include 'mailchimp' %}
      </div>


    </div>

    <!-- <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-8">
        <ul class="social">
          <li class="facebook">
            <a href="" target="_blank">
              {{ 'facebook_icon_grey.png' | asset_url | img_tag: "Facebook" }}
            </a>
          </li>
          <li class="twitter">
            <a href="" target="_blank">
              {{ 'twitter_icon_grey.png' | asset_url | img_tag: "Twitter" }}
            </a>
          </li>
          <li class="pinterest">
            <a href="" target="_blank">
              {{ 'pinterest_icon_grey.png' | asset_url | img_tag: "Pinterest" }}
            </a>
          </li>
          <li class="instagram">
            <a href="" target="_blank">
              {{ 'instagram_icon_grey.png' | asset_url | img_tag: "Instgram" }}
            </a>
          </li>
        </ul>
      </div>
    </div> -->

    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <span>All rights reserved 1st Parents</span>
      </div>
      <div class="col-xs-12 col-sm-3">
        <span>1-888-FIRST-FIRST</span>
      </div>
    </div>
  </div>
</footer>
