{% if template != 'cart' %}
<div class="full-page-banner">
  <img src="{{ 'footer_banner.jpg' | asset_url }}" alt="Home Banner 1" class="img-full" />
</div>
<div class="wrapper">
  <div class="footer_social-area section-padding">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h3 class="uppercase lato-regular">Instagram</h2>
      </div>
      <div class="col-xs-12 col-sm-6 responsive-video">
        <h3 class="uppercase lato-regular">Youtube</h2>
        {{ settings.home_social-youtube-source }}
      </div>
    </div>
  </div>
</div>
{% endif %}

<!-- Site Footer -->
<footer class="global-footer">
  <div class="wrapper">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h3>Follow</h3>
        <ul class="social">
          {% if settings.twitter_link %}
          <li class="twitter">
            <a href="{{ settings.twitter_link }}" target="_blank"></a>
          </li>
          {% endif %}
          {% if settings.facebook_link %}
          <li class="facebook">
            <a href="{{ settings.facebook_link }}" target="_blank"></a>
          </li>
          {% endif %}
          {% if settings.pinterest_link %}
          <li class="pinterest">
            <a href="{{ settings.pinterest_link }}" target="_blank"></a>
          </li>
          {% endif %}
          {% if settings.instagram_link %}
          <li class="instagram">
            <a href="{{ settings.instagram_link }}" target="_blank"></a>
          </li>
          {% endif %}
          {% if settings.email_link %}
          <li class="email-link">
            <a href="{{ settings.email_link }}" target="_blank"></a>
          </li>
          {% endif %}
        </ul>
      </div>
      {% if linklists.footer.links.size > 0 %}
        <div class="col-xs-12 col-sm-8">
          <ul role="navigation" class="footer-linklist">
          {% for link in linklists.footer.links %}
            <li><a href="{{ link.url }}" title="{{ link.title }}"{% if link.active %} class="active"{% endif %}>{{ link.title }}</a></li>
          {% endfor %}
          </ul>
          <div class="mailchimp-area">
            <p>Sign up to get the latest on sales, new releases and more...</p>
            {% include 'mailchimp' %}
            <div class="copyright">
              <p>{{ 'now' | date: "%Y" }} Skeleton Optics</p>
              <ul>
                <li>
                  <a href="/pages/privacy-policy">Privacy Policy</a>
                </li>
                <li>
                  <a href="/pages/terms-of-use">Terms of Use</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</footer>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='COMPANY';ftypes[3]='text';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='ADDRESS';ftypes[5]='address';fnames[6]='LAST_ORDER';ftypes[6]='date';fnames[7]='SOURCE';ftypes[7]='text';fnames[8]='TAGS';ftypes[8]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
