<ul class="pagination">
  {% if paginate.previous %}
  	<li class="prev"><a   href="{{ paginate.previous.url }}" title="{{ paginate.previous.title }}">Prev</a></li>
  {% endif %}

  {% for part in paginate.parts %}
    {% if part.is_link %}
      <li class="spacing">
        <a href="{{ part.url }}" title="">{{ part.title }}</a>
      </li>
    {% else %}
      {% if part.title == paginate.current_page %}
        <li class="active spacing"><span>{{ part.title }}</span></li>
      {% else %}
        <li class="spacing"><span>{{ part.title }}</span></li>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if paginate.next %}
    <li class="next"><a  href="{{ paginate.next.url }}" title="{{ paginate.next.title }}">Next</a></li>
  {% endif %}
</ul>