<!doctype html>
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->

<head>
  {% include 'global-head' %}
  {{ content_for_header }}
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

  <!-- Header -->
  {% include 'global-header' %}

  <!-- Main -->
  <main id="main" role="main" class="global-site {{template}}">
    {{ content_for_layout }}
  </main>

  <!-- Footer -->
  {% include 'global-footer' %}

  <!-- Scripts -->
  {{ "//cdn.shopify.com/s/javascripts/currencies.js" | script_tag }}
  {{ 'main.js' | asset_url | script_tag }}

  <!-- Needs to run on every page -currency converter -->
  <script type="text/javascript">

    var currentCurrency;
    var symbols = [
      {
        currency: 'USD',
        symbol: '$'
      },
      {
        currency: 'CAD',
        symbol: '$'
      },
      {
        currency: 'GBP',
        symbol: '£'
      },
      {
        currency: 'EUR',
        symbol: '€'
      }
    ];

    function _switchCurrency(currency) {
      $('.money').each(function() {
        var $this = $(this);
        var amount = $this.attr('data-amount');
        var convertedAmount = Currency.convert(amount, '{{shop.currency}}', currency);
        var formattedAmount = convertedAmount.toFixed(2);
        var currencySymbol = '$';
        for(var i=0; i<symbols.length; i++) {
          if(currency === symbols[i].currency) {
            currencySymbol = symbols[i].symbol;
          }
        }
        var fullAmount = currencySymbol + formattedAmount;
        $this.text(fullAmount);
      });
    };

    function _checkCurrency() {
      if(localStorage.getItem('selected_currency') === null) {
        localStorage.setItem('selected_currency', '{{shop.currency}}');
      }
      currentCurrency = localStorage.selected_currency;
      _switchCurrency(currentCurrency);
    };
    _checkCurrency();

    $('.currency-selector').on('click', function() {
      var $this = $(this);
      var currency = $this.attr('data-currency');
      localStorage.setItem('selected_currency', currency);
      _switchCurrency(currency);
    });

  </script>
</body>
</html>
