<div id="home">
  {{ page.content }}
  <div class="full-page-banner">
    <img src="{{ 'home_hero.jpg' | asset_url }}" alt="Home Hero" class="img-full" />
    <div class="caption">
      <h1 class="uppercase">{{ settings.home_hero-title }}</h1>
      <span class="uppercase">{{ settings.home_hero-subtitle }}</span>
    </div>
  </div>
  <div class="wrapper">
    <div class="home_slider-area section-padding">
      <div class="flexslider">
        <ul class="slides">
          <li>
            <ul class="row">
              {% for i in (4..6) %}
                {% capture img %}home_promo-{{i}}.jpg{% endcapture %}
                {% capture title %}home_promo-title-{{i}}{% endcapture %}
                {% capture copy %}home_promo-copy-{{i}}{% endcapture %}
                {% capture link %}home_promo-link-{{i}}{% endcapture %}
                <li class="col-xs-12 col-sm-4">
                  <div class="home_slider-area-slide">
                    <a href="{{settings[link]}}">
                      <img src="{{ img | asset_url }}" alt="" class="img-full" />
                    </a>
                    {% if settings[title] %}
                      <h2 class="has-line uppercase">
                        <a href="{{settings[link]}}">
                          {{ settings[title] }}
                        </a>
                      </h2>
                    {% endif %}
                    {% if settings[copy] %}
                      <p>{{ settings[copy] }}</p>
                    {% endif %}
                  </div>
                </li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <ul class="row">
              {% for i in (1..3) %}
                {% capture img %}home_promo-{{i}}.jpg{% endcapture %}
                {% capture title %}home_promo-title-{{i}}{% endcapture %}
                {% capture copy %}home_promo-copy-{{i}}{% endcapture %}
                {% capture link %}home_promo-link-{{i}}{% endcapture %}
                <li class="col-xs-12 col-sm-4">
                  <div class="home_slider-area-slide">
                    <a href="{{settings[link]}}">
                      <img src="{{ img | asset_url }}" alt="" class="img-full" />
                    </a>
                    {% if settings[title] %}
                      <h2 class="has-line uppercase">
                        <a href="{{settings[link]}}">
                          {{ settings[title] }}
                        </a>
                      </h2>
                    {% endif %}
                    {% if settings[copy] %}
                      <p>{{ settings[copy] }}</p>
                    {% endif %}
                  </div>
                </li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="full-page-banner">
    <img src="{{ 'home_banner1.jpg' | asset_url }}" alt="Home Banner 1" class="img-full" />
  </div>
  <div class="home_promo-text text-center">
    <span>{{ settings.home_promo-text1 }}</span>
  </div>
  <div class="full-page-banner">
    <img src="{{ 'home_banner2.jpg' | asset_url }}" alt="Home Banner 1" class="img-full" />
  </div>
  <div class="wrapper">
    <div class="home_collection section-padding">
      <div class="row collection-listing">
        {% for product in collections.frontpage.products %}
          {% include 'product-grid-item' %}
        {% endfor %}
      </div>
      <div class="featured-product">
        {% for product in collections.featured-product.products %}
          <div class="row">
            <div class="col-xs-12 col-sm-5 col-sm-offset-1">
              <img src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" class="img-full" />
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="featured-product-right">
                <h2 class="uppercase">
                  {{ product.title }}
                </h2>
                <i class="line"></i>
                <span class="prod-price lato-thin">
                  <span class="text-center">{{ product.price | money }}</span>
                  {% if on_sale %}
                  <s class="compare-at-price">{{ product.compare_at_price | money }}</s>
                  {% endif %}
                </span>
                <p>{{ product.description }}</p>
                <a href="{{ product.url | within: collection }}" class="btn">
                  View
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% unless settings.frontpage == blank or collections[settings.frontpage].empty? %}
{% assign collection = collections[settings.frontpage] %}
<ul class="row">
{% for product in collection.products %}
  {% include 'product-grid-item' %}
{% else %}
<li>
  <p>
    You have no products in your {{ collections[settings.frontpage].title }} collection.
  <p>
</li>
{% endfor %}
</ul>
{% endunless %}

<script type="text/javascript">
  $('.collection-item').addClass('filter_grid col-sm-6 col-md-4');
</script>
