<div class="row">
	<div class="col-9 col-off-3">
		<h1>{{ page.title }}</h1>
	</div>
</div>
<div class="row">
	{% if linklists.our-story.links.size > 0 %}
      <div class="col-3">
        <ul role="navigation">
        {% for link in linklists.our-story.links %}
          <li><a href="{{ link.url }}" title="{{ link.title }}"{% if link.active %} class="active"{% endif %}>{{ link.title }}</a></li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
	<div class="col-9">
		{{ page.content }}
	</div>
</div>
