<div class="push-header">
	<div class="wrapper">
		<div class="row">
			<div class="col-xs-12">
				<h1>{{ page.title }}</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				{{ page.content }}
        {% form 'contact' %}

          {% if form.posted_successfully? %}
            <div class="successForm feedback">
              Thank you for your message! We will get back to you as soon as possible
            </div>
          {% endif %}

          {% if form.errors %}
          <div class="errorForm feedback">
            <!-- {{ form.errors.size }} or {{ form.errors | size }} -->
            <p>Your contact form has {{ form.errors | size | pluralize: ‘an error’, ‘a few errors’ }}. To submit your form, make the following changes and try again:</p>
            {% for field in form.errors %}
              <p>The {{ field | capitalize | replace: 'Body', 'Message' }} field {{ form.errors.messages[field] }}.</p>
            {% endfor %}
          </div>
          {% endif %}

          <div id="contactFormWrapper">
            <p>
              <label>Name</label>
              <input type="text" required id="contactFormName" name="contact[name]">
            </p>
            <p>
              <label>Email</label>
              <input type="email" required id="contactFormEmail" name="contact[email]">
            </p>
            <p>
              <label>Phone</label>
              <input type="telephone" id="contactFormTelephone" name="contact[phone]">
            </p>
            <p>
              <label>Message</label>
              <textarea required rows="10" id="contactFormMessage" name="contact[body]"></textarea>
            </p>
            <p>
              <input type="submit" id="contactFormSubmit" value="Send" />
            </p>
          </div>

          {% endform %}

          <style>
          .contact-form {margin:1em 0}
          .feedback {padding:12px 20px;border-radius: 5px; margin-bottom: 24px;}
          .feedback p {padding:0.5em 0 !important;margin:0 !important}
          .successForm {background:#bde0a8;color:green}
          .errorForm {background:#eebdbd;color:red}
          </style>
			</div>
		</div>
	</div>
</div>
