<div class="full-page-banner">
  <img src="{{ 'product_hero.jpg' | asset_url }}" alt="Product Hero" class="img-full" />
  <div class="caption">
    <h1 class="uppercase">Shop</h1>
    <span class="uppercase">{{ collection.title }}</span>
  </div>
</div>
<div class="wrapper" itemscope itemtype="http://schema.org/Product">
  <div id="product">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
    <meta itemprop="image" content="{{ product | img_url: 'grande' }}" />
    <div class="row">
      <div class="product-photos col-xs-12 col-sm-6">
        <div class="product-photo-container"></div>
        <ul class="product-photo-thumbs row"></ul>
      </div>
      <div class="product-details col-xs-12 col-sm-6">
        <h1 class="uppercase"></h1>
        <div id="product-description" class="rte" itemprop="description">
          <span class="block uppercase product-label">Quick Overview</span>
          {{product.metafields.description.copy}}
        </div>
        <div class="product-variants">
          <!-- <span class="block uppercase product-label">Select Frame</span>
          <ul class="option1"></ul>
          <span class="block uppercase product-label">Select Lens</span> -->
        </div>
        <div id="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="delta">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
          {% if product.available %}
          <link itemprop="availability" href="http://schema.org/InStock" />
          {% else %}
          <link itemprop="availability" href="http://schema.org/OutOfStock" />
          {% endif %}
          <p class="price-display">
            <span class="product-price prod-money" itemprop="price" data-amount=""></span>
            <span class="compare-at-price prod-money" itemprop="price" data-amount=""></span>
          </p>
          <div class="product-price-bottom">
            <div class="product-qty-selector">
              <a href="javascript:;" data-selector="dec" class="lato-black">-</a>
              <input type="text" value="1" disabled/>
              <a href="javascript:;" data-selector="inc" class="lato-black">+</a>
            </div>
            <a href="javascript:;" id="add-to-cart">Add to cart</a>
          </div>
        </div>
        <div class="wishlist">
          wishlist
        </div>
        <div class="share-product">
          <ul class="no-list">
            <li class="facebook">
              <a href="javascript:;"
                 onclick="window.open('http://www.facebook.com/sharer/sharer.php?u={{ canonical_url }}', 'targetWindow', 'width=600, height=400')">
                Share
              </a>
            </li>
            <li class="twitter">
              <a href="javascript:;"
                 onclick="window.open('http://twitter.com/share?url={{ canonical_url }}', 'targetWindow', 'width=600, height=400')">
                Tweet
              </a>
            </li>
            <li class="pinterest">
              <a href="javascript:;"
                 onclick="window.open('https://pinterest.com/pin/create/button/?url={{ canonical_url }}&media={{ featured_image | img_url: 'grande' }}', 'targetWindow', 'width=600, height=400')">
                Pin it
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% include 'product-accordion' %}
    <noscript>
      {% include 'product-noscript' %}
    </noscript>
  </div>
</div>

<script type="text/javascript">
  jQuery(document).ready(function($) {

    var product;
    var selectedVariant = null;
    var variants = [];
    var quantity = 1;
    var variantArea = $('.product-variants');

    function _injectTitle() {
      $('.product-details h1').text(product.title);
    };

    function _injectImages() {
      $('.product-photo-container').append('<img src="' + product.image.src + '" class="img-full" />');
      if(product.images.length > 1) {
        for(var i=1; i<product.images.length; i++) {
          $('.product-photo-thumbs').append(
            '<li class="product-photo-thumb col-xs-12 col-sm-6">' +
              '<a href="javascript:;">'+
                '<img src="' + product.images[i].src + '" class="img-full" />'+
              '</a>'+
            '</li>'
          );
        }
      }
    };

    // Get cart count
    function _getCart() {
      $.ajax({
        url: '/cart.js'
      }).always(function(cart){
        var obj = jQuery.parseJSON(cart.responseText);
        var count = obj.item_count;
        $('.cart-nav-item a').text(count);
      });
    };

    function _splitVariants() {
      for(var i=0; i<product.options.length; i++) {
        variantArea.append(
          '<div class="variant-group-' + i + '">' +
            '<ul></ul>' +
          '</div>'
        );

        // Push variant object to variants array
        variants.push({
          name: product.options[i].name,
          values: product.options[i].values
        });

        // Append each variant as a list item
        for(var j=0; j<variants[i].values.length; j++) {
          var name = variants[i].values[j];
          var nameLower = name.toLowerCase();
          var title = variants[i].name.split(' ').join('-').toLowerCase();
          var fileName = '{{ "variant-'+title+'-'+nameLower+'.png" | asset_url }}';
          var image = '<img src="' + fileName + '" />';
          var group = 'option' + (i + 1);
          $(".variant-group-" + i + " ul").append(
            '<li>' +
              '<a href="javascript:;" data-name="' + name + '" data-group-index="' + group + '" class="product-variant-selector">' +
                image +
              '</a>' +
            '</li>'
          );
        };
      };
    };

    function _setDefaultVariant() {
      var variant = product.variants[0];
      selectedVariant = {
        id: variant.id,
        title: variant.title,
        price: variant.price,
        compare_at_price: variant.compare_at_price,
        quantity: variant.inventory_quantity
      };
      for(var i=0; i<product.options.length; i++) {
        var option = 'option' + (i + 1);
        selectedVariant[option] = variant[option];
      };
      _calculateDisplayPrice();
    };

    function _setNewVariant(name, option) {
      selectedVariant[option] = name;
      var array = [];
      for(var i=0; i<product.options.length; i++) {
        var option = 'option' + (i+1);
        var name = selectedVariant[option];
        array.push(name);
      };
      var newTitle = array.join(' / ');
      selectedVariant.title = newTitle;
      var variantExists = false;
      for(var j=0; j<product.variants.length; j++) {
        if(newTitle === product.variants[j].title) {
          variantExists = true;
          var variant = product.variants[j];
          selectedVariant.id = variant.id;
          selectedVariant.price = variant.price;
          selectedVariant.compare_at_price = variant.compare_at_price;
          selectedVariant.quantity = variant.inventory_quantity;
        }
      };
      if(!variantExists) {
        $('#add-to-cart').text('Not Available').addClass('disabled disable-click');
      } else if(selectedVariant.quantity === 0) {
        $('#add-to-cart').text('Sold Out!').addClass('disabled disable-click');
      } else {
        $('#add-to-cart').text('Add to Cart').removeClass('disabled disable-click');
      }
      _calculateDisplayPrice();
    };

    // Handles variant changes
    $('body').on('click', '.product-variant-selector', function() {
      var $this = $(this);
      var name = $this.attr('data-name');
      var option = $this.attr('data-group-index');
      _setNewVariant(name, option);
    });

    function _calculateDisplayPrice() {
      var newPrice = (selectedVariant.price * quantity).toFixed(2);
      var newCompareAtPrice = (selectedVariant.compare_at_price * quantity).toFixed(2);
      $('.product-price').text('$' + newPrice);
      $('.product-price').attr('data-amount', newPrice);
      if(newPrice !== newCompareAtPrice) {
        $('.compare-at-price').text('$' + newCompareAtPrice);
        if(newCompareAtPrice === '0.00') {
          $('.compare-at-price').text("").attr('data-amount', '0.00');
        } else {
          $('.compare-at-price').attr('data-amount', newCompareAtPrice);
        }
      } else {
        $('.compare-at-price').text("").attr('data-amount', '0.00');
      }
      _switchCurrency(currentCurrency, 'product-page');
    };

   $('.product-qty-selector a').on('click', function() {
      var $this = $(this);
      var input = $('.product-qty-selector input');
      var inputVal = Number(input.val());
      if($this.attr('data-selector') === 'dec') {
        if(inputVal !== 1) {
          input.val(inputVal - 1);
          quantity = inputVal - 1;
        }
      } else {
        input.val(inputVal + 1);
        quantity = inputVal + 1;
      }
      if(quantity > selectedVariant.quantity) {
        $('#add-to-cart').text('Sold Out!').addClass('disabled disable-click');
      } else {
        $('#add-to-cart').text('Add to Cart').removeClass('disabled disable-click');
      }
      _calculateDisplayPrice();
    });

    $.ajax({
      url: window.location.origin + '/admin/products/{{product.id}}.json',
      success: function(res) {
        product = res.product;
      }
    }).done(function() {
      console.log(product);
      _injectTitle();
      _injectImages();
      _splitVariants();
      _setDefaultVariant();
      _getCart();
    });

    // AJAX add to cart
    $('#add-to-cart').on('click', function() {
      $.ajax({
        url: window.location.origin + '/cart/add.js',
        data: {
          id: selectedVariant.id,
          quantity: quantity
        },
        method: 'POST',
        beforeSend: function() {
          $('#add-to-cart').text('Adding to cart...').addClass('disabled disable-click');
        }
      }).always(function() {
        _getCart();
        setTimeout(function() {
          $('#add-to-cart').text('Thank you!').removeClass('disabled');
        }, 500);
        setTimeout(function() {
          $('#add-to-cart').text('Add to Cart').removeClass('disable-click');
        }, 4000);
      });
    });

    // Switch product image on thumb click
    $('.product-photo-thumbs a').on('click', function() {
      var $this = $(this);
      var thumbSrc = $this.find('img').attr('src');
      var prodSrc = $('.product-photo-container img').attr('src');
      $this.find('img').attr('src', prodSrc);
      $('.product-photo-container img').attr('src', thumbSrc);
    });
  });
</script>
