<div class="push-header">
  <div class="wrapper" itemscope itemtype="http://schema.org/Product">
    <input type="hidden" value="{{product.id}}" id="productId"/>
    <input type="hidden" value="{{'style.css' | asset_url}}" id="assetUrl"/>
    <div id="product">
      <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
      <meta itemprop="image" content="{{ product | img_url: 'grande' }}" />
      <div class="row">
        <div class="product-photos col-xs-12 col-sm-6">
          <div class="product-photo-container"></div>
          <ul class="product-photo-thumbs row"></ul>
        </div>
        <div class="product-details col-xs-12 col-sm-4 col-sm-offset-1">
          <h1></h1>
          <div class="product-variants">
            <h5>Select Frame</h5>
            <ul class="option1"></ul>
            <h5>Select Lens</h5>
            <ul class="option2"></ul>
            <ul class="option3"></ul>
            <ul class="option4"></ul>
            <ul class="option5"></ul>
          </div>
        </div>
      </div>
      <noscript>
        {% include 'product-noscript' %}
      </noscript>
    </div>
  </div>
</div>

<script type="text/javascript">
  jQuery(document).ready(function($) {
    var productWrapper = $('#product');
    var productId = $('#productId').val();
    var product;
    var assetUrl = $('#assetUrl').val().split('/');
    assetUrl.splice(-1,1);
    assetUrl = assetUrl.join('/');
    $.ajax({
      url: window.location.origin + '/admin/products/' + productId + '.json',
      success: function(res) {
        product = res.product;
      }
    }).done(function() {

      console.log(product);

      _splitVariants();

      // Append title
      $('.product-details h1').text(product.title);

      // Append Featured Image
      $('.product-photo-container').append('<img src="' + product.image.src + '" class="img-full" />');

      //Append Thumbs
      if(product.images.length > 1) {
        for(var i=1; i<product.images.length; i++) {
          $('.product-photo-thumbs').append(
            '<li class="product-photo-thumb col-xs-6 col-sm-2">' +
              '<a href="javascript:;">'+
                '<img src="' + product.images[i].src + '" class="img-full" />'+
              '</a>'+
            '</li>'
          );
        }
      }

      // Create variants
      function _splitVariants() {
        var variants = {
          option1: [],
          option2: [],
          option3: [],
          option4: [],
          option5: []
        };
        for(var i=0; i<product.variants.length; i++) {
          var obj = product.variants[i];
          if(obj.hasOwnProperty('option1') && obj.option1 !== null) {
            var option1 = obj.option1;
            if(variants.option1.indexOf(option1) === -1) {
              variants.option1.push(option1);
            }
          }
          if(obj.hasOwnProperty('option2') && obj.option2 !== null) {
            var option2 = obj.option2;
            if(variants.option2.indexOf(option2) === -1) {
              variants.option2.push(option2);
            }
          }
          if(obj.hasOwnProperty('option3') && obj.option3 !== null) {
            var option3 = obj.option3;
            if(variants.option3.indexOf(option3) === -1) {
              variants.option3.push(option3);
            }
          }
          if(obj.hasOwnProperty('option4') && obj.option4 !== null) {
            var option4 = obj.option4;
            if(variants.option4.indexOf(option4) === -1) {
              variants.option4.push(option4);
            }
          }
          if(obj.hasOwnProperty('option5') && obj.option5 !== null) {
            var option5 = obj.option5;
            if(variants.option5.indexOf(option5) === -1) {
              variants.option5.push(option5);
            }
          }
        }
        setTimeout(function() {
          _createVariants();
        }, 1000);

        function _createVariants() {
          console.log(variants.length);
          if(variants.option1.length) {
            for(var i=0; i<variants.option1.length; i++) {
              var handle = variants.option1[i].toLowerCase();
              $('.product-variants .option1').append(
                '<li>'+
                  '<a href="javascript:;" data-name="' + handle + '">'+
                    '<img src="' + assetUrl + '/variant-frame-' + handle + '.png"  />'+
                  '</a>'+
                '</li>'
              );
            }
          }
          if(variants.option2.length) {
            for(var i=0; i<variants.option2.length; i++) {
              var handle = variants.option1[i].toLowerCase();
              $('.product-variants .option2').append(
                '<li>'+
                  '<a href="javascript:;" data-name="' + handle + '">'+
                    '<img src="' + assetUrl + '/variant-frame-' + handle + '.png"  />'+
                  '</a>'+
                '</li>'
              );
            }
          }
        };

      };
    });
  });
</script>
